# Environment variables
.env
.flaskenv


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.pytest_cache/

# Virtual environments
venv/
env/
ENV/
.venv/

# Flask
instance/
.webassets-cache

# IDE
.vscode/
.idea/
*.swp
*.swo

# uv
.uv/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

#Stuff
.env.db
*crt
mongo_backup/
*.sql